<p id="notice"><%= notice %></p>

<h2 class="page-header">Syllabus Detail
  <div class="pull-right">
    <%= link_to 'Back', syllabuses_path, :class => "btn btn-warning" %>
  </div>
</h2>

<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Syllabus</h3>
    </div>
    <div class="panel-body">
      <form role="form">
        <div class="form-group">
          <label>Name : </label>
          <%= @syllabus.name %>
        </div>

        <div class="form-group">
          <label>Description : </label>
          <%= @syllabus.description %>
        </div>

        <div class="form-group">
          <label>Course : </label>
          <% name = Course.find(@syllabus.course_id).name %>
          <%= name %>
        </div>
      </form>
    </div>
  </div>
</div>



<%#= link_to 'Edit', edit_syllabus_path(@syllabus) %>
<%#= link_to 'Back', syllabuses_path %>
